absl-py             1.4.0
ale-py              0.8.1
attrs               22.2.0
box2d-py            2.3.5
certifi             2022.12.7
cffi                1.15.1
charset-normalizer  3.0.1
cloudpickle         2.2.1
contourpy           1.0.7
cycler              0.11.0
Cython              0.29.33
decorator           4.4.2
fasteners           0.18
fonttools           4.38.0
glfw                2.5.6
gym                 0.26.2
gym-notices         0.0.8
idna                3.4
imageio             2.25.1
imageio-ffmpeg      0.4.8
importlib-resources 5.12.0
iniconfig           2.0.0
kiwisolver          1.4.4
lz4                 4.3.2
matplotlib          3.7.0
moviepy             1.0.3
mujoco              2.2.0
mujoco-py           2.1.2.14
numpy               1.24.2
opencv-python       4.7.0.72
packaging           23.0
Pillow              9.4.0
pip                 22.0.2
pluggy              1.0.0
proglog             0.1.10
py                  1.11.0
pycparser           2.21
pygame              2.1.0
PyOpenGL            3.1.6
pyparsing           3.0.9
pytest              7.0.1
python-dateutil     2.8.2
python-version      0.0.2
requests            2.28.2
setuptools          59.6.0
six                 1.16.0
swig                4.1.1
tomli               2.0.1
tqdm                4.64.1
typing_extensions   4.5.0
urllib3
